
Django==3.2
djongo==1.3.6
pymongo
mysqlclient  # Required for MySQL
django-cors-headers
django-environ
django-filter
django-import-export
django-jsonfield
djangorestframework
djangorestframework-simplejwt
drf-yasg
openpyxl
python-dateutil
pytz
PyYAML
requests
responses
setuptools
# sqlparse
django-redis
redis
celery