
Django==4.2.11
django-cors-headers
django-environ
django-filter
django-import-export
django-jsonfield
djangorestframework
djangorestframework-simplejwt
drf-yasg
openpyxl
python-dateutil
pytz
PyYAML
requests
responses
setuptools
sqlparse
pymongo
djongo
django-redis
redis
celery